VITE_ENVIRONMENT=development
VITE_PORT=8095
VITE_API_URL='http://127.0.0.1:8000'
VITE_APP_NAME='PolyginID identity'

VITE_WALLET_CONNECT_PROJECT_ID='6daa12d5e4b9741f11ea10bda8ff6ede'

VITE_AUTH_BJJ_CREDENTIAL_HASH='cca3371a6cb1b715004407e325bd993c'

VITE_DEMO_VERIFIER_CONTRACT_ADDRESS_SEPOLIA='0x0F08e8EA245E63F2090Bf3fF3772402Da9c047ee'
VITE_DEMO_VERIFIER_CONTRACT_ADDRESS_POLYGON: '0x0F08e8EA245E63F2090Bf3fF3772402Da9c047ee'
VITE_DEMO_VERIFIER_CONTRACT_ADDRESS_POLYGON_TESTNET: '0x0F08e8EA245E63F2090Bf3fF3772402Da9c047ee'
VITE_DEMO_VERIFIER_CONTRACT_ADDRESS_GOERLI: '0x0F08e8EA245E63F2090Bf3fF3772402Da9c047ee'

VITE_EXTERNAL_PLATFORM_REDIRECT_URL='https://galxe.com/'
